[Desktop Entry]
Type=Application
Exec=/usr/bin/slack
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]=Slack
Name=Slack
Comment[en_AU]=Starts slack
Comment=Starts slack